@import "_variables";

.gridContainer {
  display: grid;
  text-align: center;
  gap: $gridGap;
  padding: 20px;

  .gridItem {
    background: $freeSeatsColor;
    border: 1px solid #000;
  }
  .reservedSeat {
    background: $reservedSeatsColor;
  }
  .pickedSeat {
    background: $pickedSeatsColor;
  }
  .gridLegend {
    grid-row-start: 12;
    grid-column: 1 / 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
  }
  .reserveBtn {
    padding: 10px 0;
    line-height: 28px;
    background: #fff;
    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}
.legendItem {
  display: flex;
  align-items: center;

  .square {
    width: $gridWidth;
    height: $gridHeight;
    border: 1px solid #000;
    margin-right: 10px;
  }
  &:nth-child(2) > .square {
    background: $reservedSeatsColor;
  }
  &:last-child > .square {
    background: $pickedSeatsColor;
  }
}

@media screen and (max-width: 930px) {
  #root {
    overflow-x: scroll;
  }
}
